/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* -------------- MAIN DIV ------------------------------------------------------- */

#main {
  position: relative;
  overflow: hidden;
}

/* -------------- PAGE ONE ------------------------------------------------------- */

#page-one {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f5;
}

/* page one navbar -------------- */

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff;
  backdrop-filter: blur(20px);
  z-index: 999;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  gap: 3rem;
}

.nav-left i {
  font-size: 18px;
  cursor: pointer;
}

.nav-center {
  display: flex;
  gap: 28px;
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  color: #1d1d1f;
}

.nav-center li {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-center li:hover {
  opacity: 1;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.nav-right i {
  font-size: 16px;
  cursor: pointer;
  color: #1d1d1f;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-right i:hover {
  opacity: 1;
}

/* page one hero content -------------- */

.heroVideo {
  height: 90%;
  object-fit: cover;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* page one bottom content -------------- */
.hero-bottom {
  position: absolute;
  bottom: 60px;
  left: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Introducing text */
.hero-bottom p {
  font-size: 20px;
  margin-bottom: 12px;
  color: #0a0a0a;
  font-weight: 600;
}

/* image */
.visionLogo img {
  width: 270px;
  margin-bottom: 6px;
}

/* -------------- PAGE TWO ------------------------------------------------------- */

#page-two {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: blue;
}

/* -------------- PAGE THREE ------------------------------------------------------- */
#page-three {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: green;
}
